#sign-up{
  @include grid-row();

  $legend-bg: blue !important;

  $spacer-column-size: 3;
  $left-column-size: 3;
  $right-column-size: 3;
  .left-column {
    @include grid-column($left-column-size);

  }
  .right-column {
    @include grid-column($right-column-size);
  }
  .spacer-column {
    @include grid-column($spacer-column-size);
  }
}
